
#gamer-app{
  background: url('../../public/images/gamer-app.jpg') ;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;
}

#author-background{
  background: url('../../public/images/ben.jpg') ;
  background-size: cover;
  background-position: center;
  margin-bottom: 1.5rem;
}

#gamer-app-explain{
  background-color: #5256CD;
  color:white;
}

#gamer-app-author{
  background-color: #7654C9;
  color:white;
}

.about{
  border-radius: 10px;
}