#homePage {

  #registrations {
    min-height: 60vh;
    background-color: #5256CD;
    color: white;

    #number-registrations {
      font-size: 2rem;
    }
  }

  #favorite-games {
    h3{
      color:white;
      padding-top: 30px;
    }
    background-color: #C73F65;
  }


}