@font-face {
  font-family: Poppins;
  src: url("../../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("../../public/fonts/Poppins-ExtraBold.ttf")
}


body {
  font-family: Poppins, sans-serif;
  background: #fafafa;

  .container-fluid, .row {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5 {
    font-family: Poppins-bold, sans-serif;
  }

  h1, h2 {
    font-size: 2rem;
    font-weight: 900;

  }

  h3, h4 {
    font-size: 1.5rem;
    font-weight: 800;

  }

  h5, h6{
    font-size: 1rem;
    font-weight: 300
  }

}

.pt-8 {
  padding-top: 8rem !important;
}

.user-detail {
  min-height: 50vh;
  border-radius: .3rem;
  padding: 30px;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #9e9e9e;
  border-radius: 25px;
}

body::-webkit-scrollbar-track {
  background-color: #BE63C2;
}


.list-unstyled > .list-group-item {
  border: none;
  background: transparent;
}

.mt-8 {
  margin-top: 5.33rem;
}

.opacity-0 {
  opacity:0;
}
.opacity-1 {
  opacity:0.2;
}
.opacity-2 {
  opacity:0.4;
}
.opacity-3 {
  opacity:0.6;
}
.opacity-4 {
  opacity:.8;
}
.opacity-5 {
  opacity:1;
}

.social-button{
  width: 32px;
  height: 32px;
}

p {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

// Or short version
.jumbotron {
  background: url('../../public/images/jumbotron.png') center no-repeat;
  background-size: cover;
  min-height: 80vh
}

.b-avatar-badge {
  font-size: 0.5rem !important;
}

#detail-container {
  background-color: #2764EC;
  color: white;
}

#config-container {
  background-color: #C73F65;
  color: white;
}
.mt-8{
  margin-top: 8rem !important;
}